@model IEnumerable<Homework6_u21481084.Models.order>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.order_status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.order_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.required_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.shipped_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customer.first_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.staff.first_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.store.store_name)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.order_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.order_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.required_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shipped_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customer.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.staff.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.store.store_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.order_id }) |
                @Html.ActionLink("Details", "Details", new { id=item.order_id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.order_id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
